@import "../valo/styles.scss";
@include valo;

.cellFontSizeOverride {
    font-size: 12px;
    font-family: Verdana;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}
td.v-grid-cell {
    color: black;
}

.v-grid-cell {
    font-size: 12px;
    font-family: Verdana;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

