<div class="input-group datepicker" style="max-width: 180px;">
    <input
            type="datetime"
            name="{{column.filterName}}"
            id="input_{{name}}"
            class="input-filter form-control"
            datepicker-popup="{{format}}"
            uib-datepicker-popup ng-model="params.filter()[name]"
            ng-change="changeSelect(params.filter()[name])"
            is-open="popup.opened"
            close-text="Close"
            ng-required="true"
            close-on-date-selection="true"/>
    <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="openDatePicker($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
</div>
